//Creamos un sticky menu:
.sticky-menu {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 15px;;
    width: 100%; /* Asegúrate de que el menú ocupe todo el ancho */
    z-index: 1000; /* Para asegurar que el menú esté por encima de otros elementos */
    background-color: wheat; /* O cualquier color de fondo que desees */
    padding: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para mayor visibilidad */
}